
.grand-history-content{
    display: flex;
    gap: 2rem;
    margin: 1rem 0;
    align-items: center;
}

.grand-history-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(26rem,1fr));
    gap: 1.5rem;
    margin: auto;
}